<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
      <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
      <add key="ASGI_HANDLER" value="django.core.asgi.get_asgi_application()" />
      <!-- <add key="isMainServer" value="true"/> -->
      <add key="PYTHONPATH" value="C:\oko" />
      <add key="DJANGO_SETTINGS_MODULE" value="oko.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="MyFastCgiModule" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python39\python.exe|C:\oko\wfastcgi.py" resourceType="Unspecified" />
            <!-- <add name="RedisConnectionString" connectionString="localhost:6379,allowAdmin=true,abortConnect=false,keepAlive=60,syncTimeout=60000"/> -->
        </handlers>
        <directoryBrowse enabled="false" />
    </system.webServer>
    <system.web>
        <roleManager enabled="true" />
    </system.web>
</configuration>