.footer {
    display: flex; flex-direction: row; margin-top: -7px;
    height: 250px; width: 100%; background: black; justify-content: space-evenly;
}
.office_info {
    color: white; display: flex; flex-direction: column; justify-content: flex-end; padding-bottom: 50px;
}
.social_info {
    display: flex; flex-direction: column; justify-content: flex-end; padding-bottom: 50px;
}
.logo_info {
    color: white; display: flex; flex-direction: column; justify-content: flex-end; padding-bottom: 50px;
}
.office_footer_div {
    display: flex; flex-direction: row; align-items: center; justify-content: left;
}
.office_footer_div p{
    margin: 0; margin-left: 20px;
}
.office_info h1{
    color: #FF003C;
}
.footer_icon_img_div {
    display: flex; flex-direction: row; width: 16px; height: 16px;
    align-items: center; justify-content: center;
}
.footer_icon_img{
    color: white; margin-right: 20px;
}
.footer_vk{
    display: flex; flex-direction: row; align-items: center; 
}
.footer_vk p{
    margin: 0;
}
.footer_mail{
    display: flex; flex-direction: row; align-items: center;
}
.footer_mail p{
    margin: 0;
}
.footer_icon_img.mail{
    filter: brightness(0) invert(1);
}