

.navbar {
    width: 100%;
    height: 110px;
    display: flex;
    flex-wrap: nowrap;
    visibility: visible;
    overflow: hidden; z-index: 1000;
}

.navbar-fon {
    width: 100%; height: 110px;
    left: 0; right: 0; margin: auto;
    display: flex;
    justify-content: start;
    background-color: rgb(255, 255, 255);
    position: fixed;
    align-items: center;
    filter: drop-shadow(0px 2px 30px rgba(0, 0, 0, 0.05));
    z-index: 999;
}

.navbar_uslugi_boxes {
    display: flex; width: 1200px; justify-content: space-between;
}
.uslugi_navbar_text {
    color: black!important; text-align: center; font-size: 10px;
    cursor: pointer;
}

.uslugi_navbar_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar_uslugi {
    padding-top: 120px; width: 100%!important; display: flex; flex-direction: row; justify-content: center; width: fit-content;
}

.navbar_otd {
    width: 100%; height: 75px;
    z-index: 2;
    display: flex; flex-wrap: nowrap; flex-direction: row;
    justify-content: space-between; align-items: center;
    padding-left: 225px; padding-right: 225px; color: #545454;
}

.navbar_button {
    display: flex; align-items: center; height: fit-content; width: fit-content;
    cursor: pointer;
}

.navbar_button a{
    font-size: 11px; margin: 0;
    text-decoration: none;
    padding: 4px; padding-left: 9px; padding-right: 9px; font-weight: 400;
}
.white_button:hover {
    color: black;
    text-decoration: none;
}
.white_button a:hover{
    color: black;
}
@media (min-width: 1px) and (max-width: 250px) {
    .navbar {
        display: none;
    }
    .navbar-fon{
        display: none;
    }
}
@media (min-width: 251px) and (max-width: 319px) {
    
    .navbar {
        height: 50px;
    }

    .navbar-fon {
        height: 50px;
    }

    .logo {
        display: none;
    }

    .vk {
        display: flex; width: 22px; margin-right: 30px;
    }

    .miniphone {
        display: flex; margin-right: 30px; width: 22px;
    }

    .miniphone2 {
        display: none
    }
    
    .phone {
        display: none;
    }
    .social {
        display: none;
    }
    .zayavka {
        display: none;
        width: 166px; height: 49px; visibility: visible; font-size: 12px;
        background: white; justify-content: center;
        border: 2px solid #ED1B24;
        box-sizing: border-box;
        border-radius: 50px;    
        color: black; font-weight: 700;
    }
    .zayavka:hover { 
        background: linear-gradient(180deg, #FF2E00 0%, #ED1B24 100%);
        box-shadow: 0px 0px 14.2857px rgba(247, 18, 28, 0.6);
        border-radius: 54.0491px;
        color: white; font-weight: 700;
    }
    .logo_mobile{
        display: flex; width: 50px; margin-left: 25px;
    }
}
    
@media (min-width: 320px) and (max-width: 540px) {

    .navbar {
        height: 50px;
    }

    .navbar-fon {
        height: 50px;
    }

    .logo {
        display: none;
    }

    .vk {
        display: flex; width: 20px; margin-right: 50px;
    }

    .miniphone {
        display: flex; margin-right: 50px; width: 20px;
    }

    .miniphone2 {
        display: none
    }
    
    .phone {
        display: none;
    }
    .social {
        display: none;
    }
    .zayavka {
        display: none;
        width: 166px; height: 49px; visibility: visible; font-size: 12px;
        background: white; justify-content: center;
        border: 2px solid #ED1B24;
        box-sizing: border-box;
        border-radius: 50px;    
        color: black; font-weight: 700;
    }
    .zayavka:hover { 
        background: linear-gradient(180deg, #FF2E00 0%, #ED1B24 100%);
        box-shadow: 0px 0px 14.2857px rgba(247, 18, 28, 0.6);
        border-radius: 54.0491px;
        color: white; font-weight: 700;
    }
    .logo_mobile{
        display: flex; width: 90px; margin-left: 40px;
    }
    
}
@media (min-width: 541px) and (max-width: 768px) {

    .navbar {
        height: fit-content
    }

    .logo {
        width: 209px;
        height: 50px;
        margin-left: 60px;
    }

    .vk{
        display: flex; width: 40px; margin-right: 50px;
    }

    .miniphone {
        display: flex; margin-right: 50px;
    }

    .miniphone2 {
        display: none
    }
    
    .phone {
        display: none;
    }
    .social {
        display: none;
    }
    .zayavka {
        display: none;
        width: 166px; height: 49px; visibility: visible; font-size: 12px;
        background: white; justify-content: center;
        border: 2px solid #ED1B24;
        box-sizing: border-box;
        border-radius: 50px;    
        color: black; font-weight: 700;
    }
    .zayavka:hover { 
        background: linear-gradient(180deg, #FF2E00 0%, #ED1B24 100%);
        box-shadow: 0px 0px 14.2857px rgba(247, 18, 28, 0.6);
        border-radius: 54.0491px;
        color: white; font-weight: 700;
    }
    .logo_mobile{
        display: none;
    }
    .collapse:not(.show) {
        display: flex; flex-direction: row; align-items: center;justify-content: center;
        }
    .navbar_uslugi {
        background-color: blue;
    }
    .uslugi_navbar_box {
        background-color: #FF2E00; height: 80px;
    }
    .uslugi_navbar_text {
        font-size: 6px; background-color: yellow;
    }
    .navbar_uslugi_boxes {
        width: 541px; overflow: hidden;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    
        /* Navbar-css */

    .navbar {
        width: 768px; height: 80px; left: 0px; right: 30px; margin: auto; justify-content: space-around;
        align-items: center;
    }

    .logo {
        width: 138px;
        height: 35px;
    }
    .miniphone {
        display: none
    }

    .miniphone2 {
        display: none
    }
    
    .phone {display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        width: 141px;
        height: 35px;
        visibility: visible;
    }
    .font {display: flex; align-items: center; margin-bottom: 5px;
        height: 15px;
        font-size: 14px;
    }
    .phone_equal {
        width: 115px;
    }
    .social {
        display: none
    }
    .zayavka {
        display: flex;
        width: 129px; height: 35px; visibility: visible; font-size: 10px;
        background: white; justify-content: center;
        border: 2px solid #ED1B24;
        box-sizing: border-box;
        border-radius: 50px;    
        color: black; font-weight: 700;
    }
    .zayavka:hover { 
        background: linear-gradient(180deg, #FF2E00 0%, #ED1B24 100%);
        box-shadow: 0px 0px 14.2857px rgba(247, 18, 28, 0.6);
        border-radius: 54.0491px;
        color: white; font-weight: 700;
    }
    .vk{
        display: flex; width: 32px;
    }
    .logo_mobile{
        display: none;
    }
    .uslugi_navbar_text {
        font-size: 7px;
    }
    .navbar_uslugi_boxes {
        width: 768px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .navbar-fon{
        height: 80px;
    }

    .navbar {
        width: 1024px; height: 80px; left: 0px; right: 30px; margin: auto; justify-content: space-around;
        align-items: center;
    }

    .logo {
        width: 138px;
        height: 35px;
    }
    .miniphone {
        display: none
    }

    .miniphone2 {
        display: none
    }
    
    .phone {display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        width: 150px;
        height: 35px;
        visibility: visible;
    }
    .font {display: flex; align-items: center; margin-bottom: 5px;
        height: 15px;
        font-size: 14px;
    }
    .phone_equal {
        width: 115px;
    }
    .social {display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        width: 186px;
        height: 35px;
        visibility: visible;
    }

    .zayavka {
        display: flex;
        width: 129px; height: 35px; visibility: visible; font-size: 10px;
        background: white; justify-content: center;
        border: 2px solid #ED1B24;
        box-sizing: border-box;
        border-radius: 50px;    
        color: black; font-weight: 700;
    }
    .zayavka:hover { 
        background: linear-gradient(180deg, #FF2E00 0%, #ED1B24 100%);
        box-shadow: 0px 0px 14.2857px rgba(247, 18, 28, 0.6);
        border-radius: 54.0491px;
        color: white; font-weight: 700;
    }
    .vk{
        display: none;
    }
    .logo_mobile{
        display: none;
    }
    .navbar_otd {
        width: 1025px; height: 75px; right: 0; left: 0; margin: auto;
        z-index: 2; position: relative; padding-top: 140px;
        display: flex; flex-wrap: nowrap; flex-direction: row;
        justify-content: space-between; align-items: center;
        padding-left: 0px; padding-right: 0px;
    }
    .navbar_otd a{
        font-size: 10px; text-align: center; padding-bottom: 50px;
    }
    .nav_hr_all{
        margin: 0; padding: 0; color: red; opacity: 1; margin-bottom: 120px; z-index: 1;
        margin-top: 2px; margin-bottom: 2px; padding: 1px;
    }
    .nav_hr{
        color: black; display: none;
        z-index: 999; opacity: 1; margin: 0;
        height: 6px;padding: 1px; margin-top: 2px;
    }
}

@media (min-width: 1441px) and (max-width: 1920px) {
    .navbar {
        width: 1440px; height: 120px; right: 0; left: 0; margin: auto; justify-content: space-around;
        align-items: center;
    }

    .logo {
        width: 198px; height: 50px; margin-bottom: 10px;
    }
    .miniphone {
        display: none
    }

    .miniphone2 {
        display: none
    }
    
    .phone {display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        width: 172px; height: 44px; visibility: visible;
    }
    .font {
        display: flex; align-items: center; margin-bottom: 5px;
        height: 18px; font-size: 16px; font-weight: 400;
    }
    .phone_equal {
        width: 130px;
    }
    .social { display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        width: 223px; height: 44px; visibility: visible;
    }

    .zayavka {
        display: flex;
        width: 180px; height: 56px; visibility: visible; font-size: 14px;
        background: white; justify-content: center;
        border: 2px solid #ED1B24;
        box-sizing: border-box;
        border-radius: 50px;    
        color: black; font-weight: 600;
        margin-bottom: 10px;
    }
    .zayavka:hover { 
        background: linear-gradient(180deg, #FF2E00 0%, #ED1B24 100%);
        box-shadow: 0px 0px 14.2857px rgba(247, 18, 28, 0.6);
        border-radius: 54.0491px;
        color: white; font-weight: 700;
    }
    .vk{
        display: none;
    }
    .logo_mobile{
        display: none;
    }
    .navbar_otd {
        width: 1440px; height: 75px; right: 0; left: 0; margin: auto;
        z-index: 2; position: relative; padding-top: 160px;
        display: flex; flex-wrap: nowrap; flex-direction: row;
        justify-content: space-between; align-items: center; 
    }
    .navbar_otd a{
        font-size: 10px; text-align: center; padding-bottom: 50px;
    }
    .nav_hr_all{
        margin: 0; padding: 0; color: red; opacity: 1; margin-bottom: 120px; z-index: 1;
        margin-top: 2px; margin-bottom: 2px; padding: 1px;
    }
    .nav_hr{
        color: black; display: none;
        z-index: 999; opacity: 1; margin: 0;
        height: 6px;padding: 1px; margin-top: 2px;
    }
}

@media (min-width: 1921px) {
    .navbar {
        width: 1440px; height: 120px; right: 0; left: 0; margin: auto; justify-content: space-around;
        align-items: center;
    }
    .logo {
        width: 198px; height: 50px; margin-bottom: 10px;
    }
    .miniphone {
        display: none
    }

    .miniphone2 {
        display: none
    }
    
    .phone {display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        width: 172px; height: 44px; visibility: visible;
    }
    .font {
        display: flex; align-items: center; margin-bottom: 5px;
        height: 18px; font-size: 16px; font-weight: 400;
    }
    .phone_equal {
        width: 130px;
    }
    .social { display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        width: 223px; height: 44px; visibility: visible;
    }

    .zayavka {
        display: flex;
        width: 180px; height: 56px; visibility: visible; font-size: 14px;
        background: white; justify-content: center;
        border: 2px solid #ED1B24;
        box-sizing: border-box;
        border-radius: 50px;    
        color: black; font-weight: 600;
        margin-bottom: 10px;
    }
    .zayavka:hover { 
        background: linear-gradient(180deg, #FF2E00 0%, #ED1B24 100%);
        box-shadow: 0px 0px 14.2857px rgba(247, 18, 28, 0.6);
        border-radius: 54.0491px;
        color: white; font-weight: 700;
    }
    .vk{
        display: none;
    }
    .logo_mobile{
        display: none;
    }
    .navbar_otd {
        width: 1440px; height: 75px; right: 0; left: 0; margin: auto;
        z-index: 2; position: relative; padding-top: 160px;
        display: flex; flex-wrap: nowrap; flex-direction: row;
        justify-content: space-between; align-items: center; 
    }
    .navbar_otd a{
        font-size: 10px; text-align: center; padding-bottom: 50px;
    }
    .nav_hr_all{
        margin: 0; padding: 0; color: red; opacity: 1; margin-bottom: 120px; z-index: 1;
        margin-top: 2px; margin-bottom: 2px; padding: 1px;
    }
    .nav_hr{
        color: black; display: none;
        z-index: 999; opacity: 1; margin: 0;
        height: 6px;padding: 1px; margin-top: 2px;
    }
}