.closed_sidebar {
    display: flex; position: fixed; top: 0; flex-direction: row; justify-content: center;
    height: 100%; width: 70px; background-color: #FF003C; z-index: 2;
}
.nav_icon_div {
  display: flex; width: 50px; height: fit-content; margin-top: 15px; padding: 7px;
  cursor: pointer;z-index: 1; 
}
/* The sidebar menu */
.sidebar {
    display: flex;
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }

  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* .simple-footer a{
    font-size: 15px;
    padding: 0px;
    width: fit-content;
  } */
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #0f0f0f;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 1;
  }
    #main {
    transition: margin-left .5s; /* If you want a transition effect */
    position: relative;
  }
  .main_part {
    width: 300px;
    padding-top: 60px; 
  }
  .second_part {
    display: none;
    width: 500px; background-color: rgb(255, 255, 255); border: 1px solid rgb(36, 36, 36);
  }
  .white_line {
    height: 100%; width: 1px; margin: 0;
    background-color: rgb(2, 2, 2);
  }
  .info {
    display: flex; width: 400px;
    flex-direction: column; padding-top: 60px; padding-left: 30px;
  }
  .info .chat_head p{
    color: #FF003C;
  }
  .info .chat_body {
    width: 430px; display: block; overflow: scroll;
    height: 530px; border: 1px solid rgb(36, 36, 36); border-radius: 15px; padding: 20px;
  }
  .info .chat_input {
    display: flex; flex-wrap: nowrap;
    width: 400px; background-color: #ffffff; color: rgb(34, 34, 34); font-size: 12px;
    height: 30px; margin-top: 0px; border: 1px solid rgb(42, 42, 42); border-radius: 10px;
  }
  .input_field {
    display: flex; flex-direction: row; flex-wrap: nowrap; margin-top: 10px; width: 430px; align-items: center;
  }
  .skrepka {
    width: 22px; height: 22px; display: flex; margin-right: 10px; cursor: pointer; 
    filter: brightness(1) invert(1);
  }
  input:focus {
    outline: none; 
  }
  .message_item {
    width: 250px; height: fit-content; min-height: 50px; display: flex; flex-direction: column;
  }
  .message_client {
    float: right; 
  }
  .message_manager {
    float: left;
  }
  .message_head {
    display: flex; flex-direction: row; justify-content: space-between;
  }
  .message_head p{
    font-size: 11px; color: rgb(35, 35, 35); margin-bottom: 7px;
  }
  .message_body {
    display: flex; width: fit-content;
  }
  .message_body p{
    font-size: 11px; color: #FF003C;
  }
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */

  
  .login_div {
    margin-top: 50px; width: 80%; margin: 0 auto; display: none; flex-direction: column;
  }
  .login_div .card-danger{
    background-color: #111;
    color: #818181
  }
  .login_div .simple-footer {
    color: #818181; position: absolute; bottom: 20px;
  }
  #registration_div {
    display: none;
  }
  #signin_div {
    display: flex;
  }
  #registration_div .card-header{
    width: fit-content;
  }
  #chat_message_input {
    padding-left: 10px; 
  }

  .select_media {
    display: none;
  }
  .preview_media{
    display: flex;
    width: fit-content; margin-top: 10px; margin-bottom: 10px; margin-right: 10px;
  }
  .sidebar_item {
    display: flex; flex-direction: row;
  }
  .sidebar_item_hr {
    background: #F6121C; width: 5px; height:20px; margin-right: 10px;
  }
  .sidebar_item p{
    color: rgb(255, 255, 255); cursor: pointer;
  }

  .type_chat{
    display: flex; flex-direction: row;
  }
  .type_chat p{
    font-size: 15px; color: #f1f1f1!important; margin:5px;
  }
  .chatflex {
    width: fit-content;
  }
  .chat_field {
    display: flex;
  }
  .mainflex {
    display: none;
  }
  .non_read{
    background-color: #dcdcdc;
  }
  .message_img {
    display: flex; height: 80px; margin-bottom: 10px; cursor: pointer;
  }
  .image_message {
    width: auto; height: 100%;
  }
  .round_for_non_read_message {
    display: none; flex-direction: row; align-items: center; justify-content: center; background-color: #111; color: white;
    width: 20px; height: 20px; overflow: hidden; border-radius: 20px; position: absolute; left: 30px;top: 30px;
  }
  .round_for_non_read_message p{
    margin: 0;
  }
  .display {
    display: flex;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  