.closed_sidebar {
    display: flex; position: fixed; top: 0; flex-direction: row; justify-content: center;
    height: 100%; width: 0px; background-color: #FF003C; z-index: 4;
}
.nav_icon_div {
    display: flex; width: 50px; height: fit-content; margin-top: 15px; padding: 7px;
    cursor: pointer;z-index: 1; 
}
/* The sidebar menu */
.sidebar {
    display: flex;
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 4; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .simple-footer a{
    font-size: 15px;
    padding: 0px;
    width: fit-content;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 1;
  }
  
  .main_part {
    width: 300px; background-color: #111;
    padding-top: 60px;
  }
  .second_part {
    display: flex;
    width: 500px; background-color: rgb(22, 22, 22);
  }
  .white_line {
    height: 100%; width: 1px; margin: 0;
    background-color: white;
  }
  .info {
    display: flex; width: 400px;
    flex-direction: column; padding-top: 60px; padding-left: 30px;
  }
  .info .chat_head p{
    color: #FF003C;
  }
  .info .chat_body {
    width: 430px; display: block; overflow: scroll;
    height: 530px; border: 1px solid white; border-radius: 15px; padding: 20px;
  }
  .info .chat_input {
    width: 430px; background-color: #111; color: white; font-size: 12px;
    height: 30px; margin-top: 20px; border: 1px solid white; border-radius: 10px;
  }

  input:focus {
    outline: none; 
  }
  .message_item {
    width: 250px; height: 50px; display: flex; flex-direction: column;
  }
  .message_client {
    float: right; 
  }
  .message_manager {
    float: left;
  }
  .message_head {
    display: flex; flex-direction: row; justify-content: space-between;
  }
  .message_head p{
    font-size: 11px; color: white; margin-bottom: 7px;
  }
  .message_body {
    display: flex; width: fit-content;
  }
  .message_body p{
    font-size: 11px; color: #FF003C;
  }
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    position: relative;
  }
  
  .login_div {
    margin-top: 50px; width: 80%; margin: 0 auto; display: none; flex-direction: column;
  }
  .login_div .card-danger{
    background-color: #111;
    color: #818181
  }
  .login_div .simple-footer {
    color: #818181; position: absolute; bottom: 20px;
  }
  #registration_div {
    display: none;
  }
  #signin_div {
    display: flex;
  }
  #registration_div .card-header{
    width: fit-content;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }