{% extends 'admin_templates/base_template.html' %}
{% block title %}
Список фото для галереи
{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block page_title %}
Список фото для галереи
{% endblock page_title %}

{% block page_content %}
<!-- <div class="row">
  <div class="col-lg-12">
    <div class="search-element">
      <div class="card">

        <div class="card-body">
        <form method="get">
          <button class="btn btn-primary" type="submit" style="float:right"><i class="fas fa-search"></i>Search</button>    
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250" style="width: 250px;float:right" name="filter" value="{{ filter }}">
        </form>
        </div>
        
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="row">
  <div class="col-lg-12">
    <div class="search-element">
      <div class="card">

        <div class="card-body">
          <b>Sort By: -</b>
          <a href="{% url 'product_list' %}?filter={{ filter }}&orderby=id">ID</a> |
          <a href="{% url 'product_list' %}?filter={{ filter }}&orderby=product_name">Title</a> |
          <a href="{% url 'product_list' %}?filter={{ filter }}&orderby=product_description">Description</a>
        </div>
        
      </div>
    </div>
  </div>
</div> -->
<div class="row">
{% for photo in object_list %}
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <article class="article article-style-b">
          <div class="article-header">
            <div class="article-image" data-background="{{ photo.photo.media_content }}" style="background-size: contain;">
            </div>
            <div class="article-badge">
              <div class="article-badge-item bg-danger"> {{ photo.photo.title }}</div>
            </div>
          </div>
          <div class="article-details">
            <p><span class="badge badge-primary">Тип изделия {{ photo.photo.type_of_product.title }}</span></p>
            <p><span class="badge badge-primary">Категория  {{ photo.photo.categories_id.title }}</span></p>
            <p><span class="badge badge-primary">Заказчик {{ photo.photo.customer }}</span></p>
            <p><span class="badge badge-primary">Номер Заказа  {{ photo.photo.order_number }}</span></p>
            <div class="article-cta">
                <a href="{% url 'gallery_update' photo.photo.id %}" class="btn btn-warning">Изменить <i class="fas fa-chevron-right"></i></a>
                <div><br></div>
                <button type="button" class="btn btn-danger btn-block delete_product"  data-location="{% url 'gallery_delete' id=photo.photo.id %}">Удалить</button>
                <a href="{% url 'gallery_dublicate' photo.photo.id %}" class="btn btn-info" style="width: 100%; margin-top: 10px;">Дублировать </a>
            </div>
          </div>
        </article>
      </div>
{% endfor %}
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
          {% if page.obj.has_previous %}
          <li class="page-item"><a class="page-link" href="{% url 'gallery_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page.obj.previous_page_number }}">Предыдущая</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Предыдущая</a></li>
          {% endif %}
          {% for i in paginator.page_range %}
            <li class="page-item"><a class="page-link" href="{% url 'gallery_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ i }}">{{ i }}</a></li>
          {% endfor %}
          {% if page.obj.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'gallery_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page.obj.next_page_number }}">Следующая</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Следующая</a></li>
          {% endif %}
          </ul>
        </nav>
      </div>
  </div>
</div>
</div>
{% endblock page_content %}

{% block custom_js %}
<script>
  $(".delete_product").click(function(){
      var id=$(this).data("location");
      console.log(id);
      var cnf=confirm("Вы точно хотите удалить?");
      if(cnf){
          location=id;
      }
  });
</script>

{% endblock custom_js %}