{% extends 'admin_templates/base_template.html' %}
<!-- Block for title -->
{% block title %}
Домашняя панель
{% endblock title %}
<!-- endBlock for title -->
<!-- Block for custom_css -->
{% block custom_css %}

{% endblock custom_css %}
<!-- endBlock for custom_css -->

<!-- Block for page_title -->
{% block page_title %}
Домашняя панель
{% endblock page_title %}
<!-- endBlock for page_title -->

<!-- Block for page main content -->
{% block page_content %}
<p>Пустая страница</p>
{% endblock page_content %}
<!-- endBlock for page main content -->

<!-- Block for page main content -->
{% block custom_js %}

{% endblock custom_js %}
<!-- endBlock for page main content -->