{% load static %}
<div class="bukvy_fon">
    <div class="bukvy_details">
        <div class="bukvy_close"><img src="{% static 'img/home/x.svg' %}"></div>
        <div class="strelka_slider_right">
            <img src="{% static 'img/home/Стрелки.svg' %}">
        </div>
        <div class="strelka_slider_left">
            <img src="{% static 'img/home/Стрелки.svg' %}">
        </div>
        <div class="bukvy_slider">
            <div class="krug">
            </div>
            <div class="krug">
            </div>
            <div class="krug">
            </div>
            <div class="krug">
            </div>
            <div class="krug">
            </div>
            <div class="krug">
            </div>
            <div class="krug">
            </div>
        </div>
    </div>
    <div class="bukvy_main" style="display: flex;">
        <div class="bukvy_box">
            <div class="bukvy_text">
                <div class="modal-head" style="position: absolute; top: 0px;">
                    <div style="background: #F6121C; width: 10px; height:78px">
                    </div>
                    <div class="modal-formhead">
                        <p style="margin-bottom: 0px;"> <b>Объемные буквы<br>со световым лицом</b></p>
                    </div>
                </div>
                <div class="modal-head2">
                    <p><b></b>Объёмные буквы со световым лицом с<br>внутренней подсветкой – это одна из<br>наиболее востребованных разновидностей<br>наружной рекламы.</p>
                </div>
                <input type="submit" value="Подробнее" form="return_form" class="bukvy_button" name="return_button"/>
            </div>
            <div class="bukvy_img_button" style="margin-top: 0px;">
                <div class="bukvy_img">
                    <img src="{% static 'img/home/буква1.png' %}">                
                </div>
            </div>
        </div>
    </div>
    <div class="bukvy_main" style="display: none;">
        <div class="bukvy_box">
            <div class="bukvy_text">
                <div class="modal-head" style="position: absolute; top: 0px;">
                    <div style="background: #F6121C; width: 10px; height:78px">
                    </div>
                    <div class="modal-formhead">
                        <p style="margin-bottom: 0px;"> <b>Объемные буквы<br>с перфорированным<br>бортом</b></p>
                    </div>
                </div>
                <div class="modal-head2">
                    <p>Объёмные буквы с перфорированным<br>бортом это новый трэнд в изготовлении<br>световых букв. Буквы с перфоривованным<br>бортом выделят вам среди конкурентов.</p>
                </div>
                <input type="submit" value="Подробнее" form="return_form" class="bukvy_button" name="return_button"/>
            </div>
            <div class="bukvy_img_button" style="margin-top: 0px;">
                <div class="bukvy_img">
                    <img src="{% static 'img/home/буква2.png' %}">                
                </div>
            </div>
        </div>
    </div>
    <div class="bukvy_main" style="display: none;">
        <div class="bukvy_box">
            <div class="bukvy_text">
                <div class="modal-head" style="position: absolute; top: 0px;">
                    <div style="background: #F6121C; width: 10px; height:78px">
                    </div>
                    <div class="modal-formhead">
                        <p style="margin-bottom: 0px;"> <b>Объемные буквы<br>со световым лицом<br>и бортом</b></p>
                    </div>
                </div>
                <div class="modal-head2">
                    <p>Объемные буквы со световым бортом<br>красиво смотрятся на фасадах<br>зданий и в интерьере. Световой борт<br>увеличивает эффект объема букв.<br>Яркий свет не раздражает глаз и<br>позволяет увидеть вывеску на<br>минимальном расстоянии</p>
                </div>
                <input type="submit" value="Подробнее" form="return_form" class="bukvy_button" name="return_button"/>

            </div>
            <div class="bukvy_img_button" style="margin-top: 0px;">
                <div class="bukvy_img">
                    <img src="{% static 'img/home/буква3.png' %}">                
                </div>
            </div>
        </div>
    </div>
    <div class="bukvy_main" style="display: none;">
        <div class="bukvy_box">
            <div class="bukvy_text">
                <div class="modal-head" style="position: absolute; top: 0px;">
                    <div style="background: #F6121C; width: 10px; height:78px">
                    </div>
                    <div class="modal-formhead">
                        <p style="margin-bottom: 0px;"><b>Буквы-вывеска<br>с контражурной<br>подсветкой</b></p>
                    </div>
                </div>
                <div class="modal-head2">
                    <p>Контражур на объёмных буквах —<br>подсветка, расположенная по<br>контуру конструкции. Мягкий свет<br>рассеивается, создавая ореол вокруг<br>букв. Такое расположение создаёт<br>зрительный эффект "парящей"<br>вывески.</p>
                </div>
                <input type="submit" value="Подробнее" form="return_form" class="bukvy_button" name="return_button"/>
            </div>
            <div class="bukvy_img_button" style="margin-top: 0px;">
                <div class="bukvy_img">
                    <img src="{% static 'img/home/буква4.png' %}">                
                </div>
            </div>
        </div>
    </div>
    <div class="bukvy_main" style="display: none;">
        <div class="bukvy_box">
            <div class="bukvy_text">
                <div class="modal-head" style="position: absolute; top: 0px;">
                    <div style="background: #F6121C; width: 10px; height:78px">
                    </div>
                    <div class="modal-formhead">
                        <p style="margin-bottom: 0px;"> <b>Буквы с контражурной<br>подсветкой<br> и световым лицом</b></p>
                    </div>
                </div>
                <div class="modal-head2">
                    <p>Данный вид букв представляет собой<br>сочетание классических световых букв и букв<br>с контражурной подсветкой. Это очень<br>красивый способ подчеркнуть статус вашей<br>компании. Такие вывески никого не оставят<br>равнодушным и заставят не пройти мимо.</p>
                </div>
                <input type="submit" value="Подробнее" form="return_form" class="bukvy_button" name="return_button"/>
            </div>
            <div class="bukvy_img_button" style="margin-top: 0px;">
                <div class="bukvy_img">
                    <img src="{% static 'img/home/буква5.png' %}">                
                </div>
            </div>
        </div>
    </div>
    <div class="bukvy_main white_box" style="display: none;">
        <div class="bukvy_box">
            <div class="bukvy_text">
                <div class="modal-head" style="position: absolute; top: 0px;">
                    <div style="background: #F6121C; width: 10px; height:78px">
                    </div>
                    <div class="modal-formhead black_text">
                        <p style="margin-bottom: 0px;"> <b>Буквы из зеркального<br>
                            и шлифованного<br>
                            пластика, акрила</b></p>
                    </div>
                </div>
                <div class="modal-head2 black_text">
                    <p>Объёмные буквы со световым лицом с<br>внутренней подсветкой – это одна из<br>наиболее востребованных разновидностей<br>наружной рекламы.</p>
                </div>
                <input type="submit" value="Подробнее" form="return_form" class="bukvy_button black_text_button black_text" name="return_button"/>
            </div>
            <div class="bukvy_img_button">
                <div class="bukvy_img">
                    <img src="{% static 'img/home/Буквы из зеркального и шлифованного пластика.png' %}">                
                </div>
            </div>
        </div>
    </div>
    <div class="bukvy_main white_box" style="display: none;">
        <div class="bukvy_box">
            <div class="bukvy_text">
                <div class="modal-head" style="position: absolute; top: 0px;">
                    <div style="background: #F6121C; width: 10px; height:78px">
                    </div>
                    <div class="modal-formhead black_text">
                        <p style="margin-bottom: 0px;"> Объемные буквы<br><b>со световым лицом</b></p>
                    </div>
                </div>
                <div class="modal-head2 black_text">
                    <p>Объёмные буквы со световым лицом с<br>внутренней подсветкой – это одна из<br>наиболее востребованных разновидностей<br>наружной рекламы.</p>
                </div>
                <input type="submit" value="Подробнее" form="return_form" class="bukvy_button black_text_button black_text" name="return_button"/>
            </div>
            <div class="bukvy_img_button">
                <div class="bukvy_img">
                    <img src="{% static 'img/home/Плоские буквы из акрила 3-20мм.png' %}">                
                </div>
            </div>
        </div>
    </div>
</div>