{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static '/css/footer2.css' %}">
<link rel="stylesheet" href="{% static '/css/footer.css' %}">
{% endblock custom_css %}

{% block content %}

<div class="footer">
    <div class="office_info">
        <h1>Офис</h1>
        <div class="office_footer_div">
            <div class="footer_icon_img_div">
                <img class="footer_icon_img" src="{% static 'svg/address_footer_icon.svg' %}">
            </div>
            <p><b>г. Старый Оскол, ул. Прядченко, 112</b></p>
        </div>
        <div class="office_footer_div">
            <div class="footer_icon_img_div">
                <img class="footer_icon_img" src="{% static 'svg/time_footer_icon.svg' %}">
            </div>
            <p>с 10:00 до 17:30 выходные сб - вс</p>
        </div>
        <div class="office_footer_div">
            <div class="footer_icon_img_div">
                <img class="footer_icon_img" src="{% static 'svg/phone_footer_icon.svg' %}">
            </div>
            <p>8 (4725) <b>41-02-41</b>, 8 (910) 741-02-41</p>
        </div>
    </div>
    <div class="social_info">
        <div class="footer_mail">
            <div class="footer_icon_img_div">
                <img class="footer_icon_img mail" src="{% static 'svg/mail_icon.svg' %}"> 
            </div>
            <p class="footer_icon_img">reklama-oko@mail.ru</p>             
        </div>
        <div class="footer_vk">
            <div class="footer_icon_img_div">
                <img class="footer_icon_img" src="{% static 'svg/vk_icon.svg' %}"> 
            </div>
            <p class="footer_icon_img">reklama_oko</p>             
        </div>
    </div>
    <div class="logo_info">
        <img class="schema_icon_img" src="{% static 'svg/pink_logo.svg' %}">
    </div>
</div>

{% endblock %}