{% extends 'main_templates/main_template.html' %}
{% load static %}
{% block title %}
Студия Рекламы Око
{% endblock title %}
{% block meta_description %}
<meta name="description" content="Наружная реклама. Изготовление и монтаж объемных букв, вывесок и табличек. Старый Оскол">
{% endblock meta_description %}
{% block custom_css %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main2.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/gallery.css' %}">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(92391840, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/92391840" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->


{% endblock custom_css %}

{% block content %}
<div class="top_slider">
    <div class="top_slider_text">
        <h6>Производство</h6>
        <h1>Наружной
            рекламы</h1>
        <h4>Качественно и в срок
            выполняем широкий
            спектр работ</h4>
        <a href="#">Подробнее</a>
    </div>
    <div class="top_slider_img_with_button">
        <div class="top_slider_img">
            <div class="background_round">
                <div class="top_slider_png_div">
                    <img class="top_slider_png" src="{% static 'png/top_slider01.png' %}">
                </div>
            </div>
        </div>
        <div class="top_slider_button">
            <div class="slider_buttons_div">
                <div class="slider_button_div">
                    <img class="slider_button_up_img" src="{% static 'svg/slider_strelka_up.svg' %}">
                </div>
                <div class="slider_button_div">
                    <img class="slider_button_dot_active_img" src="{% static 'svg/slider_dot_active.svg' %}">
                </div>
                <div class="slider_button_div">
                    <img class="slider_button_dot_img" src="{% static 'svg/slider_dot.svg' %}">
                </div>
                <div class="slider_button_div">
                    <img class="slider_button_dot_img" src="{% static 'svg/slider_dot.svg' %}">
                </div>
                <div class="slider_button_div">
                    <img class="slider_button_down_img" src="{% static 'svg/slider_strelka_down.svg' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scheme_divs">
    <div class="scheme_div">
        <div class="sheme_div_imgs">
            <img class="schema_strelka_img" src="{% static 'svg/schema_strelka.svg' %}">
            <img class="schema_icon_img" src="{% static 'svg/schema_zayavka.svg' %}">
        </div>
        <div class="sheme_div_texts">
            <h1>Заявка</h1>
            <p> Вы оставляете заявку и наш менеджер свяжется с вами</p>
        </div>
    </div>
    <div class="scheme_div">
        <div class="sheme_div_imgs">
            <img class="schema_strelka_img" src="{% static 'svg/schema_strelka.svg' %}">
            <img class="schema_icon_img" src="{% static 'svg/schema_design.svg' %}">
        </div>
        <div class="sheme_div_texts">
            <h1>Дизайн</h1>
            <p> Разрабатываем макет рекламы или адаптируем ваш, если имеется.</p>
        </div>
    </div>
    <div class="scheme_div">
        <div class="sheme_div_imgs">
            <img class="schema_strelka_img" src="{% static 'svg/schema_strelka.svg' %}">
            <img class="schema_icon_img" src="{% static 'svg/schema_work.svg' %}">
        </div>
        <div class="sheme_div_texts">
            <h1>Производство</h1>
            <p> После согласования макетов и сметы, менеджер отдает проект в цех. </p>
        </div>
    </div>
    <div class="scheme_div">
        <div class="sheme_div_imgs">
            <img class="schema_strelka_img" src="{% static 'svg/schema_strelka.svg' %}">
            <img class="schema_icon_img" src="{% static 'svg/schema_workout.svg' %}">
        </div>
        <div class="sheme_div_texts">
            <h1>Монтаж</h1>
            <p> Бригада монтажников приступает к монтажу рекламы.</p>
        </div>
    </div>
</div>
<div class="services">
    <div class="services_title">
        <h1>Наши услуги</h1>
    </div>
    <div class="services_divs">
        <div class="services_div">
            <div class="services_text">
                <div class="services_text_title">
                    <h1>Вывески</h1>
                </div>
                <div class="services_button">
                    <input type="submit" value="Перейти" class="navbar_button white" name="send_ask_form"/>
                </div>  
            </div>
            <div class="services_img">
                <img src="{% static 'png/uslugi_01.png' %}">
            </div>
        </div>
        <div class="services_div">
            <div class="services_text">
                <div class="services_text_title">
                    <h1>Буквы</h1>
                </div>
                <div class="services_button">
                    <input type="submit" value="Перейти" class="navbar_button white" onClick="window.location='bukvy/'"/>
                </div>  
            </div>
            <div class="services_img">
                <img src="{% static 'png/uslugi_02.png' %}">
            </div>
        </div>
        <div class="services_div">
            <div class="services_text">
                <div class="services_text_title">
                    <h1>Интерьерная печать</h1>
                </div>
                <div class="services_button">
                    <input type="submit" value="Перейти" class="navbar_button white"/>
                </div>  
            </div>
            <div class="services_img">
                <img src="{% static 'png/uslugi_03.png' %}">
            </div>
        </div>
        <div class="services_div">
            <div class="services_text">
                <div class="services_text_title">
                    <h1>Интерьерная реклама</h1>
                </div>
                <div class="services_button">
                    <input type="submit" value="Перейти" class="navbar_button white"/>
                </div>  
            </div>
            <div class="services_img">
                <img src="{% static 'png/uslugi_04.png' %}">
            </div>
        </div>
        <div class="services_div">
            <div class="services_text">
                <div class="services_text_title">
                    <h1>Стенды</h1>
                </div>
                <div class="services_button">
                    <input type="submit" value="Перейти" class="navbar_button white"/>
                </div>  
            </div>
            <div class="services_img">
                <img src="{% static 'png/uslugi_05.png' %}">
            </div>
        </div>
        <div class="services_div">
            <div class="services_text">
                <div class="services_text_title">
                    <h1>Таблички</h1>
                </div>
                <div class="services_button">
                    <input type="submit" value="Перейти" class="navbar_button white"/>
                </div>  
            </div>
            <div class="services_img">
                <img src="{% static 'png/uslugi_06.png' %}">
            </div>
        </div>
        <div class="services_div">
            <div class="services_text">
                <div class="services_text_title">
                    <h1>Полиграфия</h1>
                </div>
                <div class="services_button">
                    <input type="submit" value="Перейти" class="navbar_button white"/>
                </div>  
            </div>
            <div class="services_img">
                <img src="{% static 'png/uslugi_07.png' %}">
            </div>
        </div>
        <div class="services_div">
            <div class="services_text">
                <div class="services_text_title">
                    <h1>Брендирование транспорта</h1>
                </div>
                <div class="services_button">
                    <input type="submit" value="Перейти" class="navbar_button white"/>
                </div>  
            </div>
            <div class="services_img">
                <img src="{% static 'png/uslugi_08.png' %}">
            </div>
        </div>
        <div class="services_div">
            <div class="services_text">
                <div class="services_text_title">
                    <h1>Мобильные системы</h1>
                </div>
                <div class="services_button">
                    <input type="submit" value="Перейти" class="navbar_button white"/>
                </div>  
            </div>
            <div class="services_img">
                <img src="{% static 'png/uslugi_09.png' %}">
            </div>
        </div>
    </div>
</div>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% for category in categories %}
      <div class="carousel-item {% if category.id == categories.0.id %} active {% endif %}">

        <div id="gallery" class="gallery_div">
            <div id="gallery" class="gallery owl-carousel">
                {% for photo in photos %}
                    {% if photo.type_of_product.id == category.id %}
                        <img class="item" src="{{ photo.media_content }}" alt="{{ photo.title }}"/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
<div class="order_fon">
    <div class="order_div">
        <div class="order_div_text">
            <h1>Остались вопросы?</h1>
            <p>Спросите специалиста</p>
        </div>
        <div class="order_div_form">
            <div class="order_form_text">
                <h1>Форма обратной связи</h1>
                <p>оставьте заявку, и мы свяжемся с Вами в ближайшее время</p>
                <form  class="order_form return_form_footer2" id='return_form_home' method="POST" action="{% url 'home' %}"enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="mail_type">
                    <div class="form-group">
                        <div class="row"> 
                            <div class="col-lg-12">
                                <input type="text" class="form-control" name="message_name" placeholder="Имя"  required=True>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-lg-12">
                                <input type="text" class="form-control" name="telephone" placeholder="Телефон" required=True pattern="[0-9.)(+-]{4,20}$">
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-lg-12">
                                <textarea type="text" class="form-control" name="message" placeholder="Сообщение" required=True></textarea>                          
                            </div>
                        </div>
                    </div>
                    <div class="row confident_with_button"> 
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-check confidentional_check">
                                <input class="form-check-input" type="checkbox" value="" id="order_confidentional_check"required="True">
                                <p>Нажимая на кнопку, вы даете согласие на обработку персональных 
                                    данных и соглашаетесь с Политикой конфиденциальности</p>
                            </div>                        
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="order_button_div">
                                <input type="submit" value="Отправить" form="return_form_home" class="order_button_footer" name="return_button"/>
                            </div>                    
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1cfbf0061d963a81141070e4eb18e82dea58a7a7b65b3a75a38b644a5fec39d6&amp;source=constructor" class="yandex_map" width="100%" height="480" frameborder="0"></iframe>
{% endblock %}

{% block custom_js %}
<!-- <script type="text/javascript" defer src="{% static 'js/bukvy.js' %}"></script> -->
{% endblock custom_js %}



