{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static '/css/navbar.css' %}">
{% endblock custom_css %}

{% block content %}
<div class="navbar-fon" >
    <div class="navbar">

        <div class="logo">
            <a href="{% url 'home' %}" style="cursor: pointer;"><img src="{% static 'img/navbar/Group 14.svg' %}"></a>
        </div>
        <div class="logo_mobile">
            <img src="{% static 'img/home/Group 12.svg' %}">
        </div>
        <div style="display: flex; flex-direction: row; align-items: center;">
            <div class="vk">
                <a href="https://vk.com/reklama_oko"><img src="{% static 'img/navbar/05.svg' %} "></a>      
            </div>
            <div class="miniphone">
                <a href="tel:+79107410241"><img src="{% static 'img/navbar/телефон.svg' %}"></a>
            </div>
        </div>
        <div class="miniphone2">
            <a href="tel:+79107410241"><img src="{% static 'img/navbar/телефон 2.svg' %}" style="width: 35px; height: auto;"></a>
        </div>
        <div class="social"> 
            <div class="font">
                <div>
                    <img src="{% static 'img/navbar/06 1.svg' %}" style="width: 13px; margin-right: 12px; margin-left: 1px;">
                <a href="mailto:reklama-oko@mail.ru">reklama-oko@mail.ru
                </a>
                </div>
            </div>
            <div class="font">
                <div>
                    <img src="{% static 'img/navbar/05.svg' %} " style="width: 16px; margin-right: 10px;">
                <a href="https://vk.com/reklama_oko">reklama_oko
                </a>
                </div>
            </div>
        </div>

        <div class="phone"> 
                <div class="font" style="display: flex; margin-bottom: 5px;">
                    <div>
                        <img src="{% static 'img/navbar/телефон 1.svg' %}" style="width: 10px; margin-right: 13px;">
                    </div>
                    <a href="tel:+74725410241">8 (4725) <b>41-02-41 </b>
                    </a>
                </div>
                <div class="font">
                    <div class="phone_equal">
                        <a href="tel:+79107410241">8 (910)  741-02-41</a>
                    </div>
                </div>
        </div>

        <div class="user_button for_navbar_button_div" onclick="openNav()">
            <div class="round">
                <img class="user_button_img" src="{% static 'svg/user_icon.svg' %}"> 
            </div>
        </div>

        <div class="zayavka">
            <p style="
            line-height: 11px;
            margin: auto; cursor: pointer;" >Оставить заявку</p>
        </div>
        

    </div>
</div>
{% endblock %}

{% block custom_js %}
<script>
    x = document.querySelectorAll('.user_button_img')[0].style.filter
    document.querySelectorAll('.user_button')[0].addEventListener('mouseover', function () {
    document.querySelectorAll('.user_button_img')[0].style.filter='brightness(0) invert(1)';
    })
    document.querySelectorAll('.user_button')[0].addEventListener('mouseout', function () {
    document.querySelectorAll('.user_button_img')[0].style.filter=x;
    })
  </script>
{% endblock custom_js %}