{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static '/css/navbar2.css' %}">
{% endblock custom_css %}

{% block content %}
<div class="navbar_fon">
    <div class="navbar_items">
        <div class="navbar_logo">
            <a href="{% url 'home' %}" style="cursor: pointer;"><img class="navbar_logo_img" src="{% static 'svg/logo.svg' %}"></a>
        </div>
        <div class="navbar_contact">
            <div class="navbar_mail">
                <div class="navbar_mail_img_div">
                    <a href="mailto:reklama-oko@mail.ru"><img class="navbar_mail_img" src="{% static 'svg/mail_icon.svg' %}"></a>
                </div>
                <a href="mailto:reklama-oko@mail.ru"><p class="navbar_mail_text">reklama-oko@mail.ru</p></a>
            </div>
            <div class="navbar_vk">
                <a href="https://vk.com/reklama_oko"><img class="navbar_vk_img" src="{% static 'svg/vk_icon.svg' %}"></a>
                <a href="https://vk.com/reklama_oko"><p class="navbar_vk_text">reklama_oko</p></a>
            </div>
        </div>
        <div class="navbar_phone">
            <div class="navbar_homephone">
                <div class="navbar_homephone_img_div">
                    <a href="tel:+79107410241"><img class="navbar_homephone_img" src="{% static 'svg/phone_icon.svg' %}"></a>
                </div>
                <a href="tel:+74725410241"><p>8 (4725) <b>41-02-41</b></p></a>
            </div>
            <a href="tel:+79107410241"><div class="navbar_mobilephone">
                <p>8 (910)  741-02-41</p>
            </div></a>
        </div>
        <div class="navbat_button_div">
            <div class="order_button for_navbar_button_div zayavka">
                <input type="submit" value="Оставить заявку" form="#" class="navbar_button white" name="send_ask_form"/>
            </div>  
            <div class="user_button for_navbar_button_div" onclick="openNav()">
                <div class="round">
                    <img class="user_button_img" src="{% static 'svg/user_icon.svg' %}"> 
                </div>
            </div>
            <div class="search_button for_navbar_button_div">
                <div class="round">
                    <img class="search_button_img" src="{% static 'svg/search_icon.svg' %}"> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script>
    x = document.querySelectorAll('.user_button_img')[0].style.filter
    z = document.querySelectorAll('.search_button_img')[0].style.filter
    document.querySelectorAll('.user_button')[0].addEventListener('mouseover', function () {
    document.querySelectorAll('.user_button_img')[0].style.filter='brightness(0) invert(1)';
    })
    document.querySelectorAll('.user_button')[0].addEventListener('mouseout', function () {
    document.querySelectorAll('.user_button_img')[0].style.filter=x;
    })
    document.querySelectorAll('.search_button')[0].addEventListener('mouseover', function () {
    document.querySelectorAll('.search_button_img')[0].style.filter='brightness(0) invert(1)';
    })
    document.querySelectorAll('.search_button')[0].addEventListener('mouseout', function () {
    document.querySelectorAll('.search_button_img')[0].style.filter=z;
    })
  </script>
{% endblock custom_js %}