{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static '/css/sidebar.css' %}">
{% endblock custom_css %}
<div class="closed_sidebar">
  <div class="nav_icon_div" onclick="openNav()">
      <img class="nav_icon_div_img" src="{% static 'svg/nav_icon.svg' %}">
  </div>
</div>
<div id="mySidebar" class="sidebar {% if admin_room %} chatflex {% endif %}">
    <div class="main_part {% if admin_room %} mainflex {% endif %}">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <!-- <a href="#">Войти</a>
      <a href="#">Регистрация</a> -->
        <div class="login_div {% if admin_room %} chat_field {% endif %}" id="login_id">
          {% if not request.user.username or request.user.user_type == "4" %}
          <div class="card card-danger" id="signin_div">
            <div class="card-header"><h4>Вход</h4></div>
  
            <div class="card-body">
              <form method="POST" action="{% url 'admin_login_process' %}" class="needs-validation" novalidate="">
                {% csrf_token %}
                <div class="form-group">
                  <label for="email">Логин</label>
                  <input id="email" type="text" class="form-control login_form" name="username" tabindex="1" required autofocus>
                  <div class="invalid-feedback">
                    Пожалуйста Введите ваш логин
                  </div>
                </div>
  
                <div class="form-group">
                  <div class="d-block">
                    <label for="password" class="control-label">Пароль</label>
                  </div>
                  <input id="password" type="password" class="form-control login_form" name="password" tabindex="2" required>
                  <div class="invalid-feedback">
                    Пожалуйста введите ваш пароль
                  </div>
                </div>
  
                <!-- <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                    <label class="custom-control-label" for="remember-me">Запомнить</label>
                  </div>
                </div> -->
                {% if messages %}
                <div class="form-group">
                  {% for message in messages %}
                  {% if message.tags == "error" %}
                  <div class="alert alert-danger">
                    {{ message }}
                  </div>
                  {% endif %}
                  {% if message.tags == "success" %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                {% endif %}
                <div class="form-group">
                  <button type="submit" class="btn btn-danger btn-lg btn-block" style="background-color:#FF2E00" tabindex="4">
                    Войти
                  </button>
                </div>
                <p style="cursor: pointer;" id="registration_button" onclick="openReg()">Регистрация</p>
              </form>
  
            </div>
          </div>
          <div class="card card-danger" id="registration_div">
            <div class="card-header"><h4>Регистрация</h4></div>
  
            <div class="card-body">
              <form method="POST" action="{% url 'admin_registration_process' %}" class="needs-validation" novalidate="">
                {% csrf_token %}
                <div class="form-group">
                  <label for="email">Логин</label>
                  <input id="email" type="text" class="form-control registration_form" name="username" tabindex="1" required autofocus>
                  <div class="invalid-feedback">
                    Пожалуйста Введите ваш логин
                  </div>
                </div>
  
                <div class="form-group">
                  <div class="d-block">
                    <label for="password" class="control-label">Пароль</label>
                  </div>
                  <input id="password" type="password" class="form-control registration_form" name="password" tabindex="2" required>
                  <div class="invalid-feedback">
                    Пожалуйста введите ваш пароль
                  </div>
                </div>
  
                <div class="form-group">
                  <div class="d-block">
                    <label for="password2" class="control-label">Повторите Пароль</label>
                  </div>
                  <input id="password2" type="password" class="form-control registration_form" name="password2" tabindex="2" required>
                  <div class="invalid-feedback">
                    Пожалуйста повторите ваш пароль
                  </div>
                </div>
  
                <!-- <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                  </div>
                </div> -->
                <div class="form-group">
                  <button type="submit" class="btn btn-danger btn-lg btn-block" style="background-color:#FF2E00" tabindex="4">
                    Зарегистрироваться
                  </button>
                </div>
                <p style="cursor: pointer;" id="registration_form_button" onclick="openSignIn()">Войти</p>
              </form>
  
            </div>
          </div>
          {% endif %}
          {% if request.user.user_type == "1" %}
          <div class="sidebar_item">
            <div class="sidebar_item_hr"></div>
            <p id="corporation_chat">Корпоративный чат</p>
          </div>
          {% endif %}
          <div class="simple-footer">
            {% if request.user.username %}
            <p>Здравствуйте, {{ request.user.username }} <br>
            <a href="{% url 'admin_logout_process' %}">Выйти</a></p>
            {% endif %}
            Copyright &copy; OKO 2022 
          </div>
        </div>
    </div>
    <div class="second_part {% if admin_room %} chat_field {% endif %}">
      <!-- <div class="white_line">
      </div> -->
      <div class="info">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="chat_head">
          {% if request.user.user_type == "3" %}
          <p id="chat_head_id">Чат с нашим менеджером</p>
          {% endif %}
          <div class="type_chat">
            {% for room in admin_rooms %}
            <a href="{% url 'home' %}?room_id={{ room.id }}"<p>{{ room.name }}</p></a>
            {% endfor %}
          </div>
        </div>
        <div class="chat_body" id="chat_body">
          {% for room in admin_rooms %}
            {% for adminmessage in admin_messages %}
              {% if adminmessage.room_id == room.id %}
              <div class="message_item {% if adminmessage.user.user_type == '1' %} message_manager {% elif adminmessage.user.user_type == '3' %} message_client {% endif %}">
                <div class="message_head">
                  <input class="id_message" style="display: none;" value="{{ adminmessage.id }}"></input>
                  <p>{{ adminmessage.user }}</p>
                  <p>{{ adminmessage.created }}</p>
                </div>
                <div class="message_body" id="message_body">
                  <p>{{ adminmessage.body }}</p>
                </div>
                  {% for media in admin_media_for_messages %}
                    {% if media.message_id == adminmessage %}
                    <div class="message_img" onclick="ImagePreview( '{{ media.media_content }}' )">
                      <img class="image_message" src="{{ media.media_content }}">
                    </div>
                    {% endif %}
                  {% endfor %}
              </div>
              {% endif %}
            {% endfor %}
          {% endfor %}

          {% for message in room_messages %}
          <div class="message_item {% if message.user.user_type == '1' %} message_manager {% elif message.user.user_type == '3' %} message_client {% endif %}">
            <div class="message_head">
              <input class="id_message" style="display: none;" value="{{ message.id }}"></input>
              <p>{{ message.user }}</p>
              <p>{{ message.created }}</p>
            </div>
            <div class="message_body" id="message_body">
              <p>{{ message.body }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="input_field">
            <div class="skrepka">
              <img src="{% static 'svg/skrepka.svg' %}">
              <form method="POST" id="media_upload_form" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" id="media_document" name="media_document"/>
                <input type="file" name="media_content[]" id="image_to_upload" class="form-control select_media" />
              </form>
            </div>
            <input type="text" id="chat_message_input" placeholder="Введите ваше сообщение" form="input_chat_message" name="body" class="chat_input"/>
            <button type="text" id="chat_message_submit" style="display: none;"></button>
        </div>
        <div class="preview_media">
          <div class="div_media">
              <img style="display:none" class="img_preview">
          </div>
        </div>
      </div>
    </div>
</div>
{% block custom_js %}
<script src="{% static '/modules/jquery.min.js' %}"></script>
<script>
  document.getElementById('chat_body').scrollTo(0, document.getElementById('chat_body').scrollHeight);
  document.querySelector('.sidebar_item').onclick = function(){
    var objDiv = document.getElementById("chat_body");
    objDiv.scrollTop = objDiv.scrollHeight;
  }
  document.querySelector('#corporation_chat').onclick = function(){
    document.getElementById("mySidebar").style.width = "fit-content";
    if(document.querySelector('.second_part').style.display == 'flex'){
      document.querySelector('.second_part').style.display = "none";
    }
    else {
      document.querySelector('.second_part').style.display = "flex";
      document.querySelector('.main_part').style.display = "none";
    }
  }

  document.querySelector('.skrepka').onclick = function(){
    document.querySelector('.select_media').click();
    }
function ImagePreview(image) {
  document.querySelector('.bg_image').style.display = "flex";
  document.querySelector('.bg_image').style.cursor = "pointer";
  var image_msg = document.querySelector('.image_preview');
  image_msg.src = image;
}
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
function openNav() {
  if (document.getElementById("mySidebar").style.width == "fit-content" || document.getElementById("mySidebar").style.width == "300px")
  {
  document.getElementById("login_id").style.display = "none";
  document.getElementById("mySidebar").style.width = "0";
  }
  else {
    document.querySelector('.second_part').style.display = "none";
    document.getElementById("mySidebar").style.width = "300px";
    document.querySelector('.main_part').style.display = "flex";
    setTimeout(() => {document.getElementById("login_id").style.display = "flex";}, 150);
    
  }
}
function openReg() {
  document.getElementById("signin_div").style.display = "none";
  document.getElementById("registration_div").style.display = "flex";
}
function openSignIn() {
  document.getElementById("signin_div").style.display = "flex";
  document.getElementById("registration_div").style.display = "none";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
}
</script>

<script>
  document.querySelector('#chat_message_input').focus();
  document.querySelector('#chat_message_input').onkeyup = function(e) {
    if (e.keyCode === 13) {  // enter, return
        document.querySelector('#chat_message_submit').click();
        document.querySelector('#chat_message_input').value = '';
      }
  };

  function getdata_image() {
    var formData = new FormData();
    var ins = document.getElementById('image_to_upload').files.length;
    for (var x = 0; x < ins; x++) {
      formData.append("media_content[]", document.getElementById('image_to_upload').files[x]);
    }
    var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
    formData.append('csrfmiddlewaretoken', csrf_token);

    var body = document.querySelector('#chat_message_input').value
    var room_id = '{{ room.id }}'
    var user_id = '{{ request.user.id }}'
    var host_id = ''
    var url = new URL(window.location.href);
    var admin_room_id = url.searchParams.get("room_id");
    if (admin_room_id == null){
      admin_room_id = 1
    }

    formData.append('body', body);
    formData.append('room_id', room_id);
    formData.append('user_id', user_id);
    formData.append('host_id', host_id);
    formData.append('admin_room_id', admin_room_id);

    $.ajax({
        url: '/admindashboard/chatmessage_send_media',
        data: formData,
        method : 'POST',
        headers:{
        "X-CSRFToken": csrf_token
    },
        processData: false,
        contentType: false,
        async : false,
        success : function(result){
          if (result !== ""){
          if (result[0].user_type.toString() == '1') {
            result[0].user_type = 'message_manager';
          } else if (result[0].user_type.toString() == '3') {
            result[0].user_type = 'message_client';
          }

          // $('#chat_body').append(
          // '<div class="message_item ' + result[0].user_type +'">'
          // + '<div class="message_head"><p>' + result[0].user_id  +  '</p><p>'+ result[0].created +'</p></div>' + 
          // '<div class="message_body" id="message_body">' +
          //     '<p>' + result[0].body + '</p></div></div>'
          // );
          if (result[0].media_message[0] == undefined) {
            $('#chat_body').append(
          '<div class="message_item ' + result[0].user_type +'">'
          + '<div class="message_head"><p>' + result[0].user_id  +  '</p><p>'+ result[0].created +'</p></div>' + 
          '<div class="message_body" id="message_body">' +
              '<p>' + result[0].body + '</p></div></div>'
          );

          var objDiv = document.getElementById("chat_body");
              objDiv.scrollTop = objDiv.scrollHeight;
          }
          else {
            $('#chat_body').append(
          '<div class="message_item ' + result[0].user_type +'">'
          + '<div class="message_head"><p>' + result[0].user_id  +  '</p><p>'+ result[0].created +'</p></div>' + 
          '<div class="message_body" id="message_body">' +
              '<p>' + result[0].body + '</p></div>' +
          '<div class="message_img" onclick="ImagePreview( \''+ result[0].media_message[0].media_content + '\' )" >' +
            '<img class="image_message" src="' + result[0].media_message[0].media_content + '">' + "</div></div>"
          );
          }

          document.querySelector('.img_preview').style.display = "none";
          console.log(result[0].media_message[0].media_content);
          var objDiv = document.getElementById("chat_body");
          objDiv.scrollTop = objDiv.scrollHeight;
          }
          var form = document.getElementById('media_upload_form')
          form.reset();
        }

      });
    }
  
  function getdata_checkmessage() {
    var room_id = '{{ room.id }}'
    var user_id = '{{ request.user.id }}'
    var host_id = ''
    var url = new URL(window.location.href);
    var admin_room_id = url.searchParams.get("room_id");
    if (admin_room_id == null){
      admin_room_id = 1
    }

    $.ajax({
        url: '/admindashboard/chatmessage_check',
        data : {
          'room_id' : room_id,
          'user_id' : user_id,
          'host_id' : host_id,
          'admin_room_id' : admin_room_id,
        },
        method : 'GET',
        async : false,
        success : function(result){
          if (result !== ""){
            for (var i = result.length - 1; i >= 0; i--) {
              if (result[i].toString() == '1') {
              result[i].user_type = 'message_manager';
              } else if (result[i].user_type.toString() == '3') {
                result[i].user_type = 'message_client';
              }

              if (result[i].media_message[0] == undefined) {
                $('#chat_body').append(
              '<div class="message_item ' + result[i].user_type +'">'
              + '<div class="message_head"><p>' + result[i].username  +  '</p><p>'+ result[i].created +'</p></div>' + 
              '<div class="message_body" id="message_body">' +
                  '<p>' + result[i].body + '</p></div></div>'
              );

              var objDiv = document.getElementById("chat_body");
                  objDiv.scrollTop = objDiv.scrollHeight;
              }

              else {
                $('#chat_body').append(
              '<div class="message_item ' + result[i].user_type +'">'
              + '<div class="message_head"><p>' + result[i].username  +  '</p><p>'+ result[i].created +'</p></div>' + 
              '<div class="message_body" id="message_body">' +
                  '<p>' + result[i].body + '</p></div>' +
                  '<div class="message_img" onclick="ImagePreview( '+ "'{{ media.media_content }}'" + ' )" >' +
                '<img class="image_message" src="' + result[i].media_message[0].media_content + '">' + "</div></div>"
              );

              var objDiv = document.getElementById("chat_body");
                  objDiv.scrollTop = objDiv.scrollHeight;
              }

            };
          }
          
        }
      });
    }
  $(document).ready(function(){
    document.querySelector('#chat_message_submit').onclick = function(){
      getdata_image()
    }
  });
  window.setInterval(getdata_checkmessage, 3000);
  
</script>
<script>

  $(document).on("change",".select_media", function(){
      var img_preview=$(this).parents().find(".img_preview");
      showPreviewMedia(this, img_preview)
    });

  function showPreviewMedia(input, img_preview){
      if (input.files){
          var reader = new FileReader();
          reader.onload=function(e){
            img_preview.attr("src",e.target.result);
            img_preview.show();
            img_preview.css({"height":"80px"})
            var objDiv = document.getElementById("chat_body");
            objDiv.scrollTop = objDiv.scrollHeight;
          }
          reader.readAsDataURL(input.files[0]);
      }
  }

</script>
{% endblock custom_js %}